.btn-login-personalizado{
    background-color: #ffcbdb !important;
    color: white;
    border-radius: 8px;
    border-color: white;
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.3s;
  }